<div class="bg-primary-700 flex items-center p-2 h-[var(--header-height)]">
    <div class="w-full ml-4 p-2 text-3xl text-white grid grid-cols-[auto_1fr_50px] gap-4">
        <div>
            <h1>
                {{ name }}  
            </h1>
        </div>
        <div>
            <small *ngIf="year" class="text-sm">
                {{ `${year}. letnik` || '' }}
            </small>
        </div>
        <div class="flex justify-end">
            <p-button routerLink="/overview">
                <i class="pi pi-home"></i>
            </p-button>
        </div>
        
    </div>
</div>