<app-header [name]="'Overview'"></app-header>
<app-content-wrapper>
     <p-table sortMode="multiple" stripedRows [value]="students" [tableStyle]="{ 'min-width': '60rem'}">
        <ng-template #header>
            <tr>
                <th pSortableColumn="surname" style="width:20%">
                    <div class="flex items-center gap-2">
                        Surname
                        <p-sortIcon field="name" />
                    </div>
                </th>
                <th pSortableColumn="name" style="width:20%">
                    <div class="flex items-center gap-2">
                        Name
                        <p-sortIcon field="name" />
                    </div>
                </th>
                <th pSortableColumn="year" style="width:20%">
                    <div class="flex items-center gap-2">
                        Year
                        <p-sortIcon field="year" />
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-rowData>
            <tr>
                <td routerLink="/student/{{ rowData.id }}">
                    {{ rowData.surname }}
                </td>
                <td routerLink="/student/{{ rowData.id }}">
                    {{ rowData.name }}
                </td>
                <td>
                    <div class="flex justify-between items-center">
                        <div>{{ rowData.year }}</div>
                        <p-button (click)="deleteStudent(rowData.id)" >
                            <span class="pi pi-trash"></span>
                        </p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div class="flex justify-center">
        <p-button (click)="showDialog()" label="Add Student" />
    </div>

    <!-- Bottom spacer -->
    <div class="h-20"></div>

    <div class="card flex fixed left-2 right-2 bottom-1 shadow-[#bbbbbb] shadow-sm rounded-sm">
        <p-paginator 
            (onPageChange)="onPageChange($event)" 
            [first]="first" [rows]="rows" 
            [totalRecords]="totalRecords" 
            [rowsPerPageOptions]="[20, 50]"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            class="w-full flex justify-space-between"
        />
    </div>

    <p-dialog header="Add a student" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-8">Provide information for creating a new student.</span>
        
        <div class="flex items-center flex-col gap-4 mb-4">
            <p-floatlabel variant="on" class="w-full">
                <label for="surname" class="font-semibold">Surname</label>
                <input pInputText 
                    id="surname" 
                    class="flex-auto w-full" 
                    autocomplete="off"
                    [(ngModel)]="studentSurname"
                    aria-describedby="userSurname-help"
                />
            </p-floatlabel>
        </div>
        
        <div class="flex items-center flex-col gap-4 mb-4">
            <p-floatlabel variant="on" class="w-full">
                <label for="name" class="font-semibold">Name</label>
                <input pInputText 
                    id="name" 
                    class="flex-auto w-full" 
                    autocomplete="off"
                    [(ngModel)]="studentName"
                    aria-describedby="username-help"
                />
            </p-floatlabel>
        </div>

        <div class="flex items-center gap-4 mb-8">
            <p-floatlabel variant="on" class="w-full">
                <label for="year" class="font-semibold z-10">Year</label>
                <p-inputnumber
                    inputId="year" 
                    class="flex-auto w-full" 
                    autocomplete="off"
                    [(ngModel)]="studentYear"
                />
            </p-floatlabel>
        </div>

        <div class="card flex justify-center mb-4">
            <p-floatlabel variant="on" class="w-full">
                <label for="subjects" class="font-semibold z-10">Subjects</label>
                <p-multiselect 
                    [options]="subjects" 
                    [(ngModel)]="studentSubjectIds" 
                    optionLabel="label" optionValue="value" 
                    [maxSelectedLabels]="3" 
                    display="chip"
                    appendTo="body"
                    class="w-full" 
                />
            </p-floatlabel>
        </div>

        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="hideDialog()" />
            <p-button label="Save" (click)="saveStudent()" />
        </div>
    </p-dialog>

</app-content-wrapper>
